<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bidfinder | Nuevo Pedido</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
			crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="p-5 text-bg-secondary p-3 rounded-3">
				<h1 class="display-5 fw-bold">Nuevo Pedido</h1>
			</div>
			<form action="./pedido/nuevo" method="post">
			<div>
				<label for="nombre">Producto</label>
				<input id="nombre" name="nombreProducto" type="text" placeholder="Nombre del producto">
				<small>Informe el nombre del producto.</small>
			</div>
			<div>
				<label for="producto">URL</label>
				<input id="producto" name="urlProducto" type="text" placeholder="URL del producto">
				<small>Busque en una página el producto que desee y pegue la URL de la página aquí.</small>
			</div>
			<div>
				<label for="imagen">Imagen</label>
				<input id="imagen" name="urlImagen" type="text" placeholder="URL de la imagen">
				<small>Copie la URL de una buena imagen y péguela aquí para ayudar a conseguir compradores.</small>
			</div>
			<div>
				<label for="descripcion">Descripción</label>
				<textarea id="descripcion" name="descripcion" placeholder="Agregue detalles importantes para ayudar al comprador"></textarea>
			</div>
				
				<button type="submit">Registrar</button>
			</form>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
			crossorigin="anonymous"></script>
	</body>
</html>