<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bidfinder</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
		crossorigin="anonymous">
	<style type="text/css">
		.logo-container {
			background-color: #47bcff;
			color: #fefefe;
		}

		.logo {
			font-family: 'Handlee', cursive;
			font-size: 2.5rem;
		}
	</style>
</head>

<div th:fragment="logo" class="mb-3">
	
	<div class="logo-container p-3">
	   <div class="col container-fluid d-flex justify-content-between">
			<span class="logo">Bidfinder</span>
			<span class="d-flex align-items-center">
			   <a class="text-light" href="/login" sec:authorize="!isAuthenticated()">login</a>
			   <a class="text-light" href="#" onclick="document.querySelector('#form-logout').submit()" sec:authorize="isAuthenticated()">logout</a>
			   <form id="form-logout" th:action="@{/logout}" method="post"></form>
		   </span>
	   </div>
	</div>
	<div sec:authorize="isAuthenticated()">
	   <div class="col">
	       <nav class="nav">
			  <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
              <a class="nav-link active" th:href="@{/user/order}">Mis pedidos</a>
              <a class="nav-link active" th:href="@{/offer}">Haga su oferta</a>
            </nav>
	   </div>
	</div>
</div>

<div th:fragment="titulo(valor, margen)" th:classappend="${margen}" class="p-5 text-bg-secondary rounded-3">
	<h1 class="display-5 fw-bold" th:text="${valor}"></h1>
</div>